* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  background: #f0f2f5; /* สีพื้นหลังใกล้เคียงกับ Facebook */
  position: relative;
  margin: 20px;
}

h1{
  font-size: 30px; /* ลดขนาดของตัวหัวหรือส่วนขยาย */
  text-align: center;
  color: #1877f2; /* สีข้อความใกล้เคียงกับ Facebook */
  font-weight: 600;
  margin: 20px;
}
h3 {
  font-size: 16px; /* ลดขนาดของตัวหัวหรือส่วนขยาย */
  text-align: center;
  color: #272d36; /* สีข้อความใกล้เคียงกับ Facebook */
  font-weight: 600;
  margin: 20px;
}

header,footer{
  width: 95vw; /* ลดขนาดของส่วนขยาย */
  background: #e1e1e0; /* สีพื้นหลังใกล้เคียงกับ Facebook */
  border: 1px solid #dadbdc; /* สีเส้นขอบใกล้เคียงกับ Facebook */
  border-radius: 12px;
  padding: 20px;
  margin :10px;
  text-align: center;
  color: #1877f2; /* สีข้อความใกล้เคียงกับ Facebook */
}

section{
  width: 95vw; /* ลดขนาดของส่วนขยาย */
  background: #ffffff; /* สีพื้นหลังใกล้เคียงกับ Facebook */
  border: 1px solid #dadbdc; /* สีเส้นขอบใกล้เคียงกับ Facebook */
  border-radius: 12px;
  padding: 20px;
  margin :10px;
}


.input-box input,
.input-box textarea
{
  width: 100%;
  background: #f0f2f5; /* สีพื้นหลังใกล้เคียงกับ Facebook */
  outline: none;
  border: 1px solid #ccc; /* สีเส้นขอบเป็นสีเทาเข้ม */
  border-radius: 10px;
  font-size: 16px;
  color: #1c1e21; /* สีข้อความใกล้เคียงกับ Facebook */
  padding: 10px 10px 10px 10px;  /*TRBL*/
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
}

.input-box input:focus,
.input-box textarea:focus {
  border-color: #4d90fe; /* สีขอบเมื่อได้รับการโฟกัสเป็นสีน้ำเงิน (ใกล้เคียงกับ Facebook) */
}


button {
  width: 100%;
  height: 45px;
  background: #10ad4c; /* สีปุ่มใกล้เคียงกับ Facebook */
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

#selector {
  background: linear-gradient(135deg, #fbbd51, #f0f0f0);
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  color: #1c1e21;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  width: 100%;
}

#selector:hover {
  background: linear-gradient(135deg, #3daae4, #ffffff);
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #dadbdc;
  background: #ffffff;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px; /* เพิ่มระยะห่างระหว่าง items */
}